/* landing page only */

.panel-group {
	border-top: 1px solid #eee;
	margin-top: 3rem;
}
.main .panel-group h3 {
	margin-top: 1rem;
}
.panel {
	background-color: transparent;
	background-position: top-left;
	background-repeat: no-repeat;
	background-size: 100% auto;
	box-shadow: 0 0.5rem .2rem rgba(0,0,0,0.2);
	min-height: 30rem;
	padding: 7rem 2.25rem 0;
	position: relative;
}
.panel .panel-caption {
	height: 18rem; /* do not exceed this height w/ content, else the caption will invade the yellow bottom thingy. */
}

.panel h4 {
	font-weight: 700;
}
.panel ul {
	margin: 0 -2.25rem;
}
.panel li {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-top: 1px solid rgba(255,255,255,0.2);
	font-size: 1.3rem;
	padding: 1rem 2.25rem;
}
.panel li a {
	font-weight: 700;
}
.panel li:first-child {
	border-top: none;
}
.panel li:last-child {
	border-bottom: none;
}
.panel li .fa-chevron-right {
	position: relative;
	top: 3px;
}

.panel-ey {
	background-image: url(../images/bg_EY-01.png);
}
.panel-client {
	background-image: url(../images/bg_client-01.png);
	color: #fff;
}
.panel-client a {
	color: #fff;
}
.panel-other1 {
	background-image: url(../images/bg_fakeMS-01.png);
	color: #fff;
}
.panel-other1 a, .panel-other2 a, .panel-other3 a {
	color: #fff;
}
.panel-other2 {
	background-image: url(../images/bg_fakeOracle-01.png);
}
.panel-other3 {
	background-image: url(../images/bg_fakeSAP-01.png);
}


