/* login page */
html, body {
	height: 100%;
}

body {
	background: #ffe600 url(../images/eycash_bg.jpg) center no-repeat;
	background-size: cover;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 auto;
	max-width: none;
}

.abs-center.is-responsive {
	width: 50%; 
	height: 50%;
	min-width: 300px;
	max-width: 100%;
	padding: 40px;
}

.main.container-fluid {
    height: 100%;
}

.navbar-brand>img {
	height: 4rem;
}

.nav-tabs {
	border-bottom-color: transparent;
}
.nav-tabs>li>a {
	background: yellow;
	border: 1px solid transparent;
	border-radius: 0;
	color: #333;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	background: rgba(0,0,0,0.5);
	border: none;
	border-top: 3px solid transparent;
	color: #fff;
}
.tab-content {
	background: rgba(0,0,0,0.5);
	border: none;
	padding: 1rem;
}
.tab-content .form-control {
	background: transparent;
	border: 1px solid #ccc;
	border-radius: 0;
	color: #fff;
	margin: 0.5rem 0;
}
.tab-content .small {
	margin: 0.5rem 0;
}
.tab-content .small a {
	color: #fff;
}

footer {
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	bottom: 0;
	/* Set the fixed height of the footer here */
	/*height: 40px;*/
	padding: 1rem 0;
	width: 100%;
}
footer .text-muted {
	color: #fff;
	font-size: 80%;
}

@media only screen and (max-width: 530px) {
	body {
		font-size: 2rem;
	}
	.abs-center.is-responsive {
		width: 100%; 
		max-width: 100%;
		padding: 0;
	}
	.tab-content .form-control {
		height: 4rem;
		margin: 1rem 0;
	}
	.tab-content .form-control, 
	.btn-lg {
		font-size: 2rem;
	}

}
