/* utility */

.abs-center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.abs-center.is-responsive {
	width: 50%; 
	height: 50%;
	min-width: 300px;
	max-width: 500px;
	padding: 40px;
}			

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

/* inside pages */

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 auto;
	max-width: 960px;
}

/*.navbar.navbar-custom {
	border: none;
	font-size: 90%;
	margin: 0;
	min-height: 0;
}
.navbar.navbar-custom li {
	position: relative;
}
*/
.user-options {
	background: rgba(0,0,0,0.7);
	border-radius: 0;
	width: 100%;
}
.user-options .btn {
	border: none;
	border-radius: 0;
	color: #fff;
}
.user-options .btn-default {
	background: transparent;
}

.mainnav {
	background-color: yellow;
	border-radius: 0;	
}
.mainnav a {
	color: #333;
	font-weight: 700;
}
.mainnav h2 {
	margin: 0;
}
.mainnav h2 a {
	font-size: 120%;
}
.mainnav .well {
	background: rgba(0,0,0,0.8);
	border: none;
	border-radius: 0;
}
.mainnav .list-group {
	border: none;
	border-radius: 0;
	margin: 3rem auto 0;
	width: 66%;
}
.mainnav .list-group-item {
	background: transparent;
	border: none;
	border-top: 1px solid rgba(255,255,255,0.3);
	color: #fff;
	font-size: 250%;
	text-align: center;
}

.mainnav .btn-custom {
	background: transparent;
	font-size: 150%;
	font-weight: 700;
}

.main .jumbotron {
	background-color: gold;
	border-bottom: 3px solid #999;
}
.main .jumbotron h1 {
	font-size: 300%;
	font-weight: 700;
	margin: 0;
}

.panel-title {
	font-weight: 700;
}

.sidebar .panel {
	border-bottom: 4px solid #ccc;
	border-radius: 0;
}

.sidebar .panel .panel-title .fa {
	opacity: 0.3;
}

.sidebar .panel .panel-body {
	padding: 0;
}
.sidebar .panel .list-group-item {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	padding: 0.5rem 1.5rem;
	position: relative;
}
.sidebar .panel .badge {
	background: transparent;
	color: #ccc;
}
.sidebar .panel p {
	margin: 1rem 0;
	text-align: center;
}
.sidebar .panel p a {
	font-weight: bold;
}

.sidebar .panel .list-group-item.up {
	background: #efe;
	color: forestgreen;
}
.sidebar .panel .list-group-item.down {
	background: #fee;
	color: darkred;
}

.footer {
	border-top: 1px solid #ddd;
	padding: 1rem 0 0 0;
}

.footer .text-muted {
	font-size: 75%;
}