@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i';

/* utility */

.abs-center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.btn {
	border-radius: 0;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

/* override bootstrap styles for subnavs */
.jumbotron .nav-pills>li:first-child {
	margin-top: 2px;
}
.jumbotron .nav-pills>li:first-child .fa {
	padding-left: 0.5rem;
}

.nav-pills>li>a {
	border-radius: 0;
	padding: 0.25rem 0.75rem;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	background: rgba(128,128,128,0.6);
}

/* quick way to make iframes responsive to their parent */	
iframe, embed, object {
	max-width: 100% !important;
	width: 100% !important;
}

/* inside pages */

body {
	font-family: 'Noto Sans'; /* fallback to Bootstrap family cascade */
}
.user-options {
	background: #333;
	border-radius: 0;
	width: 100%;
}
.user-options .btn {
	border: none;
	border-radius: 0;
	color: #fff;
}
.user-options .btn-default {
	background: transparent;
}

.mainnav {
	background: rgba(0,0,0,0.7) url(../images/EYCash_menuBG.svg) top right no-repeat;
	background-size: 100% auto;
	border-bottom: 2px solid #fff;
	border-top: 1px solid #666;
	border-radius: 0;
	color: #fff;
	min-height: 70px;
	position: relative;
}
.mainnav .btn-menu {
	background: transparent;
	font-size: 150%;
	font-weight: 700;
	padding: 1.5rem 0;
	position: absolute;
	right: 1.5rem;
	z-index: 2;
}
.mainnav .btn-menu:before {
	content: "Menu ";
}
.mainnav .btn-menu:after {
	content: "\f0c9";
    font: normal normal normal 14px/1 FontAwesome;
}

.mainnav .btn-menu[aria-expanded="true"] {
	color: #fff;
}
.mainnav .btn-menu[aria-expanded="true"]:before {
	content: "";
}
.mainnav .btn-menu[aria-expanded="true"]:after {
	content: "\f00d";
    font-size: 200%;
}

.mainnav a {
	color: #333;
	font-weight: 700;
}
.mainnav h2 {
	margin: 0;
	position: absolute;
	left: 1.5rem;
	padding: 1.5rem 0;
	z-index: 0;
}
.mainnav h2 a {
	padding: 0;
}
.mainnav h2 img {
	height: 4rem;
}
.mainnav .list-group {
	background: #ffe600;
	border: none;
	border-radius: 0;
	position: relative;
	z-index: 1;
}
.mainnav > .list-group {
	background: rgba(0,0,0,0.8);
}
.mainnav .list-group-item, 
.mainnav .list-group-item .btn-submenu {
	background: transparent;
	border: none;
	border-radius: 0;
	border-top: 1px solid rgba(255,255,255,0.3);
	color: #fff;
	font-size: 3rem;
	font-weight: 700;
	margin: 0 auto;
	padding: 2rem 0;
	text-align: center;
}
.mainnav .list-group-item:first-child, 
.mainnav .list-group-item .btn-submenu {
	border: none;
	margin: 0 auto;
}
.mainnav .list-group-item .btn-submenu {
	margin: 0 auto;
	padding: 0;
}
.mainnav .list-group-item .btn-submenu[aria-expanded="true"] {
	background: #ffe600; 
	border-top: 2px solid rgba(0,0,0,0.3);
	color: #333;
	display: block;
	padding-top: 1rem;
	width: 100%;
}
.mainnav > .list-group .list-group-item {
	/*width: 66%;*/
}
.mainnav > .list-group .list-group-item a {
	color: #fff;
}
.mainnav .list-group-item a:hover {
	text-decoration: none;
}
.mainnav .list-group .list-group .list-group-item {
	color: #333;
	font-size: 1.75rem;
	font-weight: 400;
}

/* this is where the title of each page resides */
.jumbotron, .container .jumbotron, .container-fluid .jumbotron {
	background-color: #ffe600;
	border-bottom: 3px solid #999;
	border-radius: 0;
	padding: 2rem 0 4.75rem 0;
}
.jumbotron h1 {
	font-size: 300%;
	font-weight: 700;
	margin: 0;
}
.jumbotron h2 {
	color: #666;
	font-size: 1.5rem;
	margin: 0;
}
.jumbotron .fa {
	color: #369;
	display: inline-block;
	margin: 0 0.5rem;
}

.filters {
	/*position: absolute;*/
	margin-bottom: -48px;
}
.filters .btn-custom {
	background: #ffe600;
	border: 1px solid rgba(0,0,0,0.3);
	border-width: 1px 1px 1px 0;
	text-align: left;
}
.filters .btn-custom:first-child {
	border-left: 1px;
}

.filters .btn-custom .small {
	display: block;
	font-size: 66%;
}
.filters .btn-custom .caret {
	float: right;
}
.filters.btn-group.open .dropdown-toggle {
	box-shadow: none;
	width: 100%;
}

#dateRangePicker {
	background: #fff;
	box-shadow: .5rem .5rem .5rem rgba(0,0,0,0.3);
	padding: 0.5rem;
	position: absolute;
	text-align: center;
	top: 50px;
	right: 0;
	width: 500px;
}
#dateRangePicker, .open>.dropdown-menu {
	z-index: 1050; /* to raise above freezeable table headers */
}
.filters .mini-calendar {
	border: none;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 200px;
}
.filters .mini-calendar th {
	background: #ffe600;
	font-size: 1.25rem;
	text-align: center;
}
.filters .mini-calendar td {
	font-size: 1rem;
}
.filters .mini-calendar td.active {
	background: #cfc;
}
.filters .mini-calendar thead td {
	font-size: 1.5rem;
	font-weight: 700;
}



/* this is the row that houses each page's main content */
.main > .row {
	margin-left: -0.25rem;
	margin-right: -0.25rem;
}
.main .subnav {
}
.main .subnav a {
	font-weight: 700;
}

.main h3 {
	font-weight: 700;
	margin: 2.5rem 0 2.5rem 1.5rem;
}
.main .col {
/*	padding-left: 0.75rem;
	padding-right: 0.75rem;
*/
}
.main .panel {
	border-radius: 0;
	margin: 0 -0.5rem 1.5rem;
}
.main .panel-title {
	font-size: 100%;
	font-weight: 700;
}

/* insights titles get a bigger font-size */
.main .well .panel-title {
	font-size: 200%;
}

.main .btn-block {
	border: 1rem solid transparent;
	color: #fff;
}

/* tables styling */


.main .data-table td {
	position: relative;
	text-align: right;
	white-space: nowrap;
}
.main .data-table td:first-child {
	text-align: center;
}
.main .data-table th:first-child {
	white-space: nowrap;
}
.editable {
	background: #fcc755; /* amber-ish color - should be blue-ish? */
	overflow: visible;
}
.main .data-table .editable .dropdown-toggle {
	background-color: transparent;
	border-color: transparent;
}

.main .data-table p {
	white-space: nowrap;
}
/*.main .data-table.editable-table p {
	white-space: normal;
}*/
.main .data-table th p {
	margin: 0;
	padding: 0;
	font-size: 1rem;
}
.main .data-table th p.small {
	font-size: .9rem;
}
.main .data-table th p.small em {
	color: #999;
	font-style: italic;
}
.main .data-table.first-column th {
	/*background: #fff;*/
	color: #333;
	font-weight: 400;
}

#promoCal table {
	background: rgba(255,255,102,0.5);
}
#promoCal .fwidth {
	width: 150px !important;
}
#promoCal th.week {
	width: 50px;
}
#promoCal td {
	text-align: left;
}
#promoCal td[colspan="52"] {
	padding: 0;
	position: relative;
}
#promoCal p {
	margin: 0;
}
#promoCal ul {
	margin-bottom: 30px;
}
#promoCal input[type="text"] {
	background: transparent;
	border: none;
	color: #333;
	padding: 0;
	width: 100%;
}


.reveal {
	display: inline-block;
	transition:All .25s ease;
	-webkit-transition:All .25s ease;
	-moz-transition:All .25s ease;
	-o-transition:All .25s ease;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}

.reveal.rotate {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

#promoCal .progress ul {
	background: #ffe600;
	color: #333;
	padding: 2.5rem 1rem;
	text-align: left;
}

#promoCal li, #promoCal .progress li {
	font-size: 1rem;
	font-weight: 700;
	line-height: 2;
}


.main .data-table {
	margin-bottom: 0;
}

.main .data-table th.inverse {
	background: #fff;
	color: inherit;
	font-weight: 700;
	text-align: left;
}
.main .data-table thead th {
	background: #000;
	border-radius: 0 !important;
	color: #fff;
	font-weight: 700;
	text-align: center;
}


/* top 5 boxes in commercial snapshot */
.main .top5-table td:first-child {
	color: #999;
	font-weight: 700;
	padding: 0.5rem 0 0.5rem 1.5rem;
	width: 2rem;
}


/* highlighted cells - use with caution */

.gradeA {
	background-color: rgba(153,204,102,0.6) !important;
}
.gradeB {
	background-color: rgba(153,204,102,0.4) !important;
}
.gradeC {
	background-color: rgba(255,255,102,0.5) !important;
}
.gradeD {
	background-color: rgba(204,0,0,0.2) !important;
}
.gradeF {
	background-color: rgba(204,0,0,0.4) !important;
}

.main .data-table thead th.highlight {
	background: #ffe600;
	color: #000;
}
.main table.data-table td.highlight {
	background: rgba(255,255,102,0.5);
}

/* bulleted cells */

.main .data-table .bullet {
	border-radius: 50%;
	display: block;
	height: 1rem;
	margin: 0 auto;
	width: 1rem;
}
.main .data-table .bullet.gradeA {
	background-color: rgba(153,204,102,1);
}
.main .data-table .bullet.gradeC {
	background-color: rgba(255,255,102,1);
}
.main .data-table .bullet.gradeF {
	background-color: rgba(204,0,0,1);
}

/* progress bars/ gantt chart bars */
.main .data-table .progress {
	border-radius: 0;
	margin-bottom: 0;
	z-index: 0;
}
.main .data-table .btn-primary, 
.main .data-table .well {
	background; position: absolute;
	right: 0;
	text-align: left;
	top: 0;
}
.main .data-table .btn-primary {
	z-index: 2;
}
.main .data-table .well {
	background: #ffc;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ccc;
	box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.5);
	padding: 4rem;
	z-index: 1;
}

.main.container-fluid {
	position: relative;
}

/*.main .report {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 1;
}
.main .report.fadeout {
	opacity: 0;
}
*/

/* workaround to help the freezetable plugin operate correctly on hidden tables */
.ft .report {
	height: auto;
}

.ft .report.invisible {
	height: 0;
	overflow: hidden; 
}

.popover-content {
	background: #999;
	font-size: 80%;
	margin-top: -2rem;
	/*margin: 0.5rem;*/
	overflow: hidden;
	padding: 0;
}
.popover-content table {
	margin: 0;
}
.popover-content table td {
	color: #ddd;
}
.popover-content table tbody tr:first-child {
	border-top: 3px solid rgba(0,0,0,0.1);
}
.popover-content table th, 
.popover-content table td:first-child {
	color: #fff;
	font-weight: 700;
}
.popover-content table th.price {
	background: #0fb3d8;
}
.popover-content table th.simulated {
	background: #36bf00;
}
.popover-content table th.change {
	background: #ffe600;
}
.popover {
	border-radius: 0;
}


#planTable tbody td {
	width: 15%;
}
#planTable tbody td:first-child {
	text-align: left;
	white-space: normal;
	width: 35%;
}

/* this is the 'alerts' sidebar */
.sidebar .panel {
	border: none;
	border-bottom: 4px solid #ccc;
	border-radius: 0;
}
.sidebar .panel>.panel-heading {
    color: rgba(0,0,0,0.8);
    background-color: #ffe600;
	border-radius: 0;
}
.sidebar .panel .panel-title .fa {
	opacity: 0.5;
}
.sidebar .panel .panel-body {
	padding: 0;
}
.sidebar .panel .list-group-item {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	padding: 0.5rem 1.5rem;
	position: relative;
}
.sidebar .panel .badge {
	background: transparent;
	color: #ccc;
}
.sidebar .panel p {
	margin: 1rem 0;
	text-align: center;
}
.sidebar .panel p a {
	font-weight: bold;
}
.sidebar .panel h3.panel-title {
	margin: 0; /* resets margins from page standard */
}
.sidebar .panel .list-group-item.up {
	background: rgba(102,153,51,0.2);
	color: rgba(102,153,51,1);
}
.sidebar .panel .list-group-item.down {
	background: rgba(153,0,0,0.2);
	color: rgba(153,0,0,1);
}

/* pricing diagnostic sidebar table */
.insights table th, .insights table td {
	font-size: 75%;
}

/* global footer */
.footer {
	border-top: 1px solid #ddd;
	padding: 1rem 0 0 0;
}
.footer .text-muted {
	font-size: 75%;
}


/* customize carousel controls */
.carousel-control .glyphicon-chevron-left {
    left: 20%;
}

.carousel-control .glyphicon-chevron-right {
    right: 20%;
}

/*@media screen and (min-width: 768px)
{
*/
.carousel-indicators {
    bottom: -10px;
}
/*}*/

.carousel-caption {
	bottom: auto;
	left: 7%;
	top: 20px;
	text-align: left;
	width: 33%;
}

.carousel-caption h3 {
	margin-left: 0;
}

/* overrides to fixed-table CSS to suit EYCASH style */
.ft_container table tr th, .ft_container table tr td {
	background: transparent;
	padding: 6px 8px;
}
.ft_container table tr td.editable {
	background: #fcc755; /* amber-ish color - should be blue-ish? */
	overflow: visible;
}
.ft_container table tr th {
	background: #000; 
	color: #fff;
	text-align: center !important;
}
.ft_container table tr th:first-child {
	background: #fff; 
	color: #333;
	text-align: left !important;
}
.ft_container table tr th.inverse {
	background: #000;
	color: #fff;
	text-align: center !important;
}

.ft_container table tr:nth-of-type(even) {
    background-color: #fff;
}
.ft_container table tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/*.tpo-score-card-filled .ft_rc.ui-widget-header,
.tpo-score-card-filled .ft_c,
.tpo-score-card-filled .ft_cwrapper {
	width: 304px;
}
.tpo-score-card-filled .ft_rc.ui-widget-header th,
.tpo-score-card-filled .ft_c th {
	height: 64px;
}
*/
@media only screen and (max-width: 530px) {

	.jumbotron h1 {
		font-size: 250%;
	}

	.mainnav .list-group-item, 
	.mainnav .list-group-item .btn-submenu {
		font-size: 2rem;
	}

	#dateRangePicker {
		width: 320px;
	}

}

@media screen and (min-width: 768px) {
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
		margin-left: -30px;
	}	
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
		margin-right: -30px;
	}
}

/* to prevent sidebar table rendering glitches in medium windows */
@media screen and (min-width: 1200px) and (max-width: 1410px) {

	.insights table th, .insights table td {
		font-size: 66%;
	}

}
